/*Layout style  for Dashboard-Find-Do*/
.page__head--find{
	padding: 20px 20px 10px 20px;
}
.page__head--find>h5{
	margin-top: 0px;
}

.page__head--find h6{
	margin-bottom: 0px;
	color: #0075ff;
}


/*Content style for Dashboard-Find-DO*/
.office{
	width: 70%;
}

.office__search{
	width:100%;
	display:inline-flex;
	justify-content:flex-start; 
	box-shadow: 2px 4px #80808061;
}

.office__search input{
	width:100%; 
	border:none;
}
.office i{
	color: #0075ff;
}

.office__search--button{
	width: 3.5em;
	height: 2.3em; 
	border: none;
}




 /*****************
================================================
 (  Media Queries  )
================================================
 *******************/


@media only screen and (min-width: 1273px) and (max-width: 1400px) {
.p-short-info-update{
   display: flex !important;
   width: 90% !important;
   min-height: 70vh !important;
   overflow: hidden !important;
}
}

@media only screen and (min-width: 1025px) and (max-width: 1272px) {
	.p-short-info-update{
   display: flex !important;
   width: 90% !important;
   min-height: 68vh !important;
   overflow: hidden !important;
}
.page-head .sub-title{
    width: 436px;
    display: block;
}
}


@media only screen and (min-width: 1000px) and (max-width: 1025px) {
.p-short-info-update{
   display: flex !important;
   width: 90% !important;
   min-height: 70vh !important;
   overflow: hidden !important;
}
.state-information .state-graph{
	margin-left: 20px !important;
}
}


@media only screen and (min-width: 768px) and (max-width: 999px) {
.p-short-info-update{
   display: flex !important;
   width: 90% !important;
   min-height: 68vh !important;
   overflow: hidden !important;
}
.page-head .sub-title{
    width: 436px;
    display: block;
}
.profile-desk .p-aside {
    width: 67%;
}
.office {
    width: 500px;
} 
}

@media Screen and ( max-width:767px) {
.profile-desk .p-aside {
    width: 67%;
}
.office {
    width: 460px;
}
}

@media( max-width:600px) {
.profile-desk .p-aside {
    width: 67%;
}
.office {
    width: 400px;
}
}

@media( max-width:479px) { 
.profile-desk .p-aside {
    width: 67%;
}
.office {
    width: 300px;
}
}
